<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="impact-site-verification" value="a5169cf9-57f0-4446-937e-435e727e4f29">
  <meta name="verify-admitad" content="f61d41786e" />
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <img src="./images/logo.png" width="140px" />
      <a class="logo" href="{{ '/' | relative_url }}">Aishwarya Creative Films</a>
      <ul class="nav-links">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/services.html' | relative_url }}">Services</a></li>
        <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
        <li><a href="{{ '/svr-deals.html' | relative_url }}">SVR Deals</a></li>
        <li><a href="{{ '/magic-spell.html' | relative_url }}">Magic Spell</a></li>
        <li><a href="{{ '/privacy.html' | relative_url }}">Privacy</a></li>
      </ul>
    </div>
  </nav>
  <main class="container">
    {{ content }}
  </main>
  <footer class="footer">
    <div class="container">
      <p>&copy; {{ site.time | date: '%Y' }} Aishwarya Creative Films LLC</p>
    </div>
  </footer>
  <script src="{{ '/js/script.js' | relative_url }}"></script>
</body>
</html>
